# Visual Studio solution files
*.suo
*.user
*.userosf
*.sln.docstates

# Visual Studio temporary/hidden folders
.vs/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# .NET related files
project.assets.json
*.runtimeconfig.dev.json
*.json
*.config
*.dll
*.exe
*.pdb
*.tmp
*.log
*.bak
*.orig
*ReSharper/

# Package directories
packages/
node_modules/

# Miscellaneous
.DS_Store # macOS
Thumbs.db # Windows

# Files mistakenly added to repository root and now untracked
ClaimHistoryController.cs
ClaimHistoryRepository.cs
ClaimsSystems_Console.csproj
ClaimsSystems_DAL.csproj
ClaimsSystems_WebServiceLayer.csproj
ClaimsSystems_WebServiceLayer.csproj.user
ClaimsSystems_WebServiceLayer.http
CustomerController.cs
CustomerRepository.cs
InsuranceController.cs
InsuranceRepository.cs
PaymentsController.cs
PaymentsRepository.cs
Program.cs
ScoreTeamController.cs
ScoreTeamRepository.cs
appsettings.Development.json
appsettings.json
launchSettings.json